* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  background-image: url('./images/bgimg.jpeg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-navbar {
  max-width: 1320px;
  height: 70px;
  margin: 0 auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

.nav-link {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}


/* future event */

.event-section{
  background: #000;
}

.btn-purple-event {
  background-color: #7546FF;
  color: #fff;
  padding: 0.5rem 1.25rem;
  outline;: :none;
  border: none;
}

.event-section h2 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.event-row {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.event-row:last-child {
  border-bottom: none;
}

.event-title p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  width: 320px;
}

#underline{
text-decoration: underline;
}

.event-date .display-4 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0;
  color: #fff;
  font-size: 80px;
  font-weight: 600;
}

.small{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.event-date small{
  color: #fff;
}

.time-add{
  color: #fff;
}

/* conference */

#eventimg1{
  width: 10%;
}

#eventimg2{
  width: 10%;
}

#eventimg3{
  width: 10%;
}

.future-main-content{
  display: flex;
  /* justify-content: center;
  align-items: center; */
}